body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #505050;
}

header {
    margin-top: -25px;
    padding-top: 10px;
    background-color: #E0E0E0;
    border-bottom: 2px #505050 solid;
}

header h1 {
    margin-left: 50px;
    font-size: 36px;
    color: #B25D5D;
}

header small {
    font-size: 28px;
    font-weight: normal;
    color: #505050;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    font-weight: bold;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: #505050;
    transition: color 1s;
}

nav a:hover {
    color: #B25D5D;
}

main {
    margin: 25px;
}

article {
    display: flex;
    flex-direction: row;
}

figure {
    border: 2px #505050 solid;
    width: 18.75%;
    height: 250px;
    object-fit: cover;
    object-position: -20%;
}